{%extends 'musicbeats/basic.htm'%}
{% block title%}All Songs{% endblock %}

{% block body %}

{% if message%}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 1500
      })
    </script>
{% endif %}

<div class="container" style="border-style: solid;border-radius: 30px;">
    <div class="row" >
        <div class="col-md-6" style="padding-top: 3%; margin-left: 30px;">
            <img src="{{song.image}}" alt="" height="50%" width="60%">
            <h2 style="padding-top: 6%; font-weight: 550; color: green;">Title: {{song.name}}</h2>
            <h5 style="padding-top: 2%; font-weight: 550;">Category: {{song.tags}}</h5>
            <h5 style="padding-top: 2%; font-weight: 550;">Movie: {{song.movie}}</h5>
            <h5 style="padding-top: 2%; font-weight: 550;">Singer: {{song.singer}}</h5>
            <h5 style="padding-top: 2%; font-weight: 550;">Watch video song: <a href="{{song.credit}}" target="blank_">Click here</a></h5>

                <audio controls style="padding-top: 2%;">
                    <source src="/media/{{song.song}}" type="audio/mp3">
                </audio>
        </div>
        <div class="col-md-6" >
            <div class="row" style="padding-left: 3%; margin-bottom: 30px;">
                <form action="/musicbeats/watchlater" method="POST">{% csrf_token %}
                <input type="hidden" name="video_id" value="{{song.song_id}}">
                <button type="submit" class="btn btn-outline-danger" id="submit_btn" style="color: #57291c;border-width: 3px;border-radius: 10px;" ><b>Add to Playlist</b></button>
                </form>
                <a download href="/media/{{song.song}}" style="padding-left: 1%;"><button class="btn btn-outline-danger " style="color: #57291c;border-width: 3px;border-radius: 10px;"><b>Download Song</b></button></a>
                </div>

            <div style="padding-top: 2%;">

           
        </div>
        </div>
    </div>
</div>


<script>

</script>

{% endblock %}
{% block js %}

{% endblock%}
